th .mdl-icon-toggle {
    height: 29px;
}

.date-icon-table-heading {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.overview-card.mdl-card {
    /*width: 100%;*/
    /*height: 365px;*/
}

.overview-card > .mdl-card__title {
	color: #fff;
	background: url('') bottom right 15% no-repeat #1976D2;
}

#tasks .mdl-card__title {
	background: #1565C0;
}
.mdl-card__title-text {
    align-self: flex-start;
}

.tasks-table {
    width: 100%;
    /*margin: -17px;*/
}

#tasks {
	padding: 0;
	/*height: auto;*/
}

.cards-container {
	/*margin-bottom: 16px;*/
}
.table-head{
/*background: #80ccff;*/
}
